<ul class="terms">
<% for term in @terms %>
  <li class="term">
    <dl>
      <dt>to_s:</dt>
        <dd class="to_s"><%= term.to_s %></dd>
      <dt>pos:</dt>
        <dd class="pos"><%= term.pos %></dd>
      <dt>sentence:</dt>
        <dd class="sentence"><%= term.sentence %></dd>
      <dt>Chunks:</dt>
        <dd>
          <ul class="chunks">
          <% for chunk in term.chunks %>
            <li class="chunk"><%= chunk %></li>
          <% end %>
          </ul>
        </dd>
      <dt>Tokens:</dt>
        <dd>
          <ul class="tokens">
          <% for token in term.tokens %>
            <li class="token"><%= token %></li>
          <% end %>
          </ul>
        </dd>
    </dl>
  </li>
<% end %>
</ul>